body{
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
main {
    flex: 9 ;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playBoard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #3a8844;
    width: 45%;
    height: 60%;
}
.pieceContainer {
    flex: 1 1 30%;
    border: 1px solid #717171;
}
#winner {
    background-color: #34a2ea;
    color: aliceblue;
    border: 1px solid #00ea23;
}
footer {
    flex: 1;
    height: 10vh;
    width: 100%;
    background-color: #812181;
}